.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.timer {
  background-color: var(--colorl-light-bg);
  border-radius: 50%;
  padding: 2rem;
  border: none;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status {
  color: var(--color-text);
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  text-indent: 1.5rem;
  text-align: center;
}

.reset {
  position: absolute;
  bottom: 5%;
}
