/* Reach Tabs */

[data-reach-tab-list] {
  background-color: var(--colorl-light-bg);
  border-radius: 40px;
  padding: 5px;
  gap: 5px;
}

[data-reach-tab] {
  font-size: 0.75rem;
  font-weight: bold;
  padding: 5px 10px;
}

[data-reach-tab][data-selected] {
  background-color: var(--color-red);
  color: var(--color-dark-bg);
  border-radius: 40px;
}

[data-reach-tab-panels] {
  height: 100%;
}

[data-reach-tab-panel] {
  height: 100%;
}

[data-reach-dialog-content] {
  border-radius: 20px;
  color: var(--color-bg);
  padding: 1rem 1rem 2rem 1rem;
  position: relative;
  max-width: 448px;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.settings__heading {
  font-size: 1.25rem;
  padding: 10px 0;
}

.settings__subHeading {
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 10px 0;
}

.settings__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.settings__submit {
  position: absolute;
  bottom: -8%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-red);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  transition: all 500ms;
  font-size: 1.2rem;
}

.settings__submit:hover {
  background-color: #f06264;
}
