.breakLine {
  border-color: rgb(221, 218, 218);
  opacity: 0.4;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.close {
  font-size: 2rem;
}

.heading {
  font-size: 1.25rem;
}

.subHeading {
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.settingsItem {
  padding: 1rem 0;
  position: relative;
}

.settingsItem:not(:last-child):after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: rgb(221, 218, 218);
}

.time {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.time > * {
  flex-basis: 100px;
}

.submit {
  position: absolute;
  right: 20%;
  bottom: 0;
  transform: translateY(50%);
  background-color: var(--color-main);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  transition: all 500ms;
  font-size: 1.2rem;
  outline: none;
}

.submit:hover {
  transform: rotate(5deg);
}

.submit:focus {
  box-shadow: 0 0 0 0.05em #000, 0 0 0.15em 0.1em currentColor;
}

.colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.colorsInputs {
  display: flex;
}

.radio {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
}

.radioInput {
  display: flex;
}

.radioInput input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radioInput input:focus + .radioControl {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}

.radioControl svg {
  display: none;
}

.radioInput input:checked + .radioControl svg {
  display: block;
}

.radioControl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: teal;
}
.radioInput:focus + .radioControl {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}

.soundItem {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
}

.soundSubheading {
  font-size: 0.75rem;
}

.soundSelect {
  font-size: 0.875rem;
}

.autoStartWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
