.container {
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
  justify-content: center;
  height: 100vh;
}

.heading {
  color: var(--color-text);
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabList {
  background-color: var(--colorl-light-bg);
  border-radius: 40px;
  padding: 5px;
  gap: 5px;
}

.tab {
  font-size: 0.75rem;
  font-weight: bold;
  padding: 5px 10px;
}

.selectedTab {
  background-color: var(--color-main);
  color: var(--color-bg);
  border-radius: 40px;
}

.tabPanel {
  height: 100%;
}
